// COLORS
// $color-primary: #3f51b5;
// $color-orange-dark: #303f9f;
// $color-primary-light: #c5cae9;

$color-accent: #ff4081;

$color-dark: #212121;

$color-grey: #bdbdbd;
$color-grey-dark: #777;

$color-white: #fff;
$color-black: #000;

$color-orange-light: #ff9068;
$color-orange-dark: #ff4b1f;

// FONT
$default-font-size: 1.6rem;

// Layout
$max-width: 114rem;
$gutter-horizontal: 2rem;
