@import '../../styles/variables';

.navItem {
  display: flex;

  a {
    color: $color-white;
    text-decoration: none;
    padding: 0 1rem;
    display: flex;
    align-items: center;
  }

  &:hover {
    background: $color-orange-dark;
    cursor: pointer;
  }
}
