@import '../../styles/variables';

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: space-around;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.loadButton {
  background-color: $color-primary;
  padding: 1rem 2rem;
  border: 1px solid $color-dark;
  cursor: pointer;
  color: $color-white;
  margin-bottom: 2rem;

  &:hover {
    background: $color-primary-dark;
  }
}
