@import '../../styles/variables';

.btnContainer {
  display: flex;
  justify-content: center;
}

.loadButton {
  background-color: $color-orange-light;
  padding: 1rem 2rem;
  border: 1px solid $color-orange-light;
  cursor: pointer;
  color: $color-white;
  margin-bottom: 2rem;

  &:hover {
    background: $color-orange-dark;
  }
}
